
form{
  margin: 0 auto;
  width: 500px;

  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  text-align: center;
}
h1,h2{
  text-align: center;
}
h2{
  background-color: rgba(164, 199, 219, 0.425);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100;
}

li{
  float: left;
}

li a{
  display: block;
  color: rgb(190, 190, 190);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  color: #fff;
  background-color: #4caf50;
}

article{
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

.active {
  background-color: #4caf50;
}